<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.assignment.webclient.mapper.UserMapper">
    <select id="countByUsername" resultType="int">
        SELECT COUNT(*) FROM user_table WHERE username = #{username}
    </select>

    <select id="selectByUsername" resultType="com.assignment.webclient.toClient.UserData">
        SELECT * FROM user_table WHERE username = #{username}
    </select>
</mapper>
